<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fbjorn.yt</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7553114A-C51B-482F-B198-69EA92CC78FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89768A5A-16E6-442F-9631-352E90967398</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89768A5A-16E6-442F-9631-352E90967398</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FF724F9-006C-4C6B-BC27-BFF94E6109E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FDB40D2-56C7-44DD-A586-4283F58CF8DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7196D93-A0A6-4CE6-8FFF-9D912152E520</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF11B65C-9246-46C2-AB8E-1921BD89272A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FF724F9-006C-4C6B-BC27-BFF94E6109E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denis Kirisov</string>
	<key>description</key>
	<string>Translate word or phrase</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yandex Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7553114A-C51B-482F-B198-69EA92CC78FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Translating..</string>
				<key>script</key>
				<string>PYTHONPATH=. python2 main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter phrase or word</string>
				<key>title</key>
				<string>Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>translate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>89768A5A-16E6-442F-9631-352E90967398</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>translate</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0FF724F9-006C-4C6B-BC27-BFF94E6109E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>е</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Translating..</string>
				<key>script</key>
				<string>PYTHONPATH=. python2 main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter phrase or word</string>
				<key>title</key>
				<string>Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DF11B65C-9246-46C2-AB8E-1921BD89272A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PYTHONPATH=. python2 conf.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7196D93-A0A6-4CE6-8FFF-9D912152E520</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tset</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PYTHONPATH=. python2 conf.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter API token or API key</string>
				<key>title</key>
				<string>Configure translate workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9FDB40D2-56C7-44DD-A586-4283F58CF8DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>`t &lt;query&gt;` for translating a word or phrase
`tset &lt;token&gt;` for configuring the workflow

##### To enable words translation:

1. Obtain Dictionary [API key](https://yandex.ru/dev/dictionary/keys/get/). It's
   free
2. Invoke Alfred and type `tset &lt;API_KEY&gt;`. Choose _Save as Dictionary Api Key_

##### To enable text translation:

1. This step requires paid account on
   [Yandex.Cloud](https://cloud.yandex.ru/docs/translate/). It's extremely cheap
   for amateur usage of Translate API though.
2. Go to cloud console and create a service account with `editor` role.
3. Generate
   [API Token](https://cloud.yandex.com/docs/iam/operations/api-key/create) for
   this service account
4. Invoke Alfred and type `tset &lt;Token&gt;`. Choose _Save as Translate Api Token_

&gt; Note: All your keys and tokens are stored in the OSX Keychain securely</string>
	<key>uidata</key>
	<dict>
		<key>0FF724F9-006C-4C6B-BC27-BFF94E6109E0</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7553114A-C51B-482F-B198-69EA92CC78FA</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>89768A5A-16E6-442F-9631-352E90967398</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>9FDB40D2-56C7-44DD-A586-4283F58CF8DF</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>DF11B65C-9246-46C2-AB8E-1921BD89272A</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F7196D93-A0A6-4CE6-8FFF-9D912152E520</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/fbjorn/translate-workflow</string>
</dict>
</plist>
